.DS_Store
.thumbs.db

# Frontend build artifacts
frontend/node_modules
frontend/.quasar
frontend/dist

# Frontend Cordova/Capacitor
frontend/src-cordova/node_modules
frontend/src-cordova/platforms
frontend/src-cordova/plugins
frontend/src-cordova/www
frontend/src-capacitor/www
frontend/src-capacitor/node_modules
frontend/src-bex/www
frontend/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
